#menubar li{
	font-family: Helvetica;
	display:inline-block;
	background-color: #CCCCFF;
	border-bottom: solid;
	border-color: #7A7A99;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

h1{
	font-family: Helvetica;
	color: blue;
}

#mainimage img{
	height: 400px;
	width: auto;
}

#menubar li:hover{
	background-color: #E4E4EB;
	color: red;
}